.CarPlateNumber {
    display: inline-block;
    width: 31.54%;
    padding: 15px;
    margin: 10px 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.CarPlateNumber:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.CarPlateNumber h4 {
    margin: 10px 0;
}

.CarPlateNumber p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1120px) {
    .CarPlateNumber {
        display: block;
        width: inherit;
    }
}