.Navigation {
    background: #003755;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
}

.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .Navigation {
        font-size: 30px;
    }
}

