.Title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
}

.CarPlateNumbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1120px) {
    .CarPlateNumbers {
        justify-content: flex-start;
        margin: 10px;
    }
}